@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 144 25.23% 79.02%;
    --foreground: 0 0% 16.08%;

    --card: 0 0% 96.08%;
    --card-foreground: 0 0% 3.92%;

    --popover: 0 0% 96.08%;
    --popover-foreground: 0 0% 3.92%;

    --primary: 265 82.33% 48.82%;
    --primary-foreground: 210 40% 98.04%;

    --secondary: 0 0% 96.08%;
    --secondary-foreground: 0 0% 9.02%;

    --muted: 210 40% 96.08%;
    --muted-foreground: 200 5.88% 50%;

    --accent: 0 0% 96.08%;
    --accent-foreground: 0 0% 9.02%;

    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 98.04%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.92%;

    --sidebar-background: 0 0% 96.08%;
    --sidebar-foreground: 0 0% 3.92%;
    --sidebar-primary: 265 82.33% 48.82%;
    --sidebar-primary-foreground: 210 40% 98.04%;
    --sidebar-accent: 0 0% 96.08%;
    --sidebar-accent-foreground: 0 0% 9.02%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 0% 3.92%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
